@import "../../assecs/styles/vars";

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3.25rem;
    background-color: $background_header;
    color: $color;
    position: fixed;
    z-index: 10001;
    .header-content {
        height: 3.25rem;
        .left-side{
            text-align: center;
            .logo {
                padding: 0 1.25rem;
                font-size: 1rem;
                font-weight: 600;
                height: inherit;
                line-height: inherit;
            }
        }
        .wright-side {
            text-align: center;
            .menu {
                color: $grey;
                text-decoration: none;
                padding: 0 1.25rem;
            }
            .menu:hover {
                color: inherit;
                transition: 0.2s;
            }
        }
    }
}